<%= form.text_field :url, :class => "b-form__input-text", :legend => %{Address of original information. For example
  <span class="b-form__item_legend__example">"http://www.example.com/news/26081987"</span>} %>
 
<%= form.text_field :text, :class => "b-form__input-text", :legend => %{  Your link will be made from url and text like this:
    <span class="b-form__item_legend__example">" #{html_escape("<a href=\":url\">:text</a>")}"} %>
<small class="b-form__item_legend"></span>
</small>
 

  <div class="form__item">
    <%= form.label :description, "Description", :class => "form__label" %>
    <%= form.text_area :description, :class => "form__input-text form__input-text_short  markitup" %>
    <small class="form__item_legend">Maximum length is
      <span class="form__item_legend__warning"><%= configatron.posts.link.description.maximum_length %> symbols</span>
    </small>
  </div>
