<% remote_form_for @comment, {:url => post_comments_path(@post), :method => "post"} do |form| %>
    <div class="b-form__item">
      <%= form.error_messages %>
    </div>
    <%= form.hidden_field :post_id %>
    <%= form.hidden_field :parent_comment_id %>
    <%# form.label :commenter_name, "Name" %>
    <!--<br>-->
    <%# form.text_field :commenter_name %>
    <!--<br>-->
    <%# form.label :commenter_email, "Email" %>
    <!--<br>-->
    <%# form.text_field :commenter_email %>
    <!--<br>-->
    <div class="b-form__item">
      <%= form.label :body, "Text", :class => "b-form__label" %>
      <%= form.text_area :body %>
    </div>

    <%# render :partial => "shared/captcha" %>
    <div class="b-form__item">
      <%= form.submit "Post" %>
    </div>

<% end %>