<%= form_for :comment, :url => post_comments_path(@post.id), :remote => true, :html => {:method => "post", :id => "new_comment", :class => "b-form" } do |form| %>
    <%= content_tag(:a, "", :name => "new_comment") %>
    <div class="b-form__item">
      You are a guest user. Please fill all fields clearly.
    </div>

    <div class="b-form__item">
      <%= form.error_messages :id => "error_explanation",
                              :class => "b-form_errors g-light_gray",
                              :header_message => "Oupss...",
                              :message => "Your comment cannot be saved"
      %>
    </div>
    <%= form.hidden_field :post_id %>
    <%= form.hidden_field :parent_comment_id %>
    
    <%= form.text_field :guest_commenter_name, :label => "Name" %>
    <%= form.text_field :guest_commenter_email, :label => "Email", :legend =>"We won't show it to anyone" %>
    
    <div class="b-form__item">
      <%= form.label :body, "Text", :class => "b-form__label" %>
      <%= form.text_area :body, :class => "b-form__input-text b-form__input-text_short markitup" %>
    </div>
    <div class="b-form__item">
      <%= render :partial => "shared/captcha" %>
    </div>
    
    <%= form.submit "Post" %>
    

<% end %>
