<%= content_tag(:a ,"",:name => dom_id(comment)) %>
<% content_tag(:li, :id => dom_id(comment), :class => "#{dom_id(comment.parent_comment)}_child" ) do %>
   <% div_for(comment) do%>
      <span class="author"><%= comment.commenter_name%></span>
      <span class="date"><%= comment.created_at.strftime("%d %B %Y, %H:%M") %></span>
      <span class="permalink"><%= link_to '#', "##{dom_id(comment)}" %></span>

      <div class="content">
         <%= comment.body %>
      </div>

      <%= link_to_remote 'Reply', {:url => { :controller => "comments", :action => "new", :post_id => comment.post_id, :parent_comment_id =>comment.id}, :method => "get",},
        :href => new_post_comment_url(@post, :parent_comment_id => comment.id, :anchor => dom_id(comment))%>

   <% end %>
   <% content_tag(:ul, :id => "#{dom_id(comment)}_children") do %>
      <%= render :partial => "comments/show" , :collection => comment.comments, :as => :comment %>
      <% if @comment.parent_comment_id == comment.id %>
         <%= render :partial => "comments/form" %>
      <% end %>
   <% end %>
<% end %>
