<span class="b-comment__author"><%= comment_author_link comment %></span>
<span class="b-comment__creation_date g-light_gray"><%= format_date comment.created_at %></span>
<span class="b-comment__rating"><%= comment.rating %></span>
<%= comment_permalink_link(comment) %>
<%= comment_parent_permalink_link(comment) %>