<h1>Editing comment</h1>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :post %><br />
    <%= f.text_field :post %>
  </p>
  <p>
    <%= f.label :parent_comment %><br />
    <%= f.text_field :parent_comment %>
  </p>
  <p>
    <%= f.label :commenter_name %><br />
    <%= f.text_field :commenter_name %>
  </p>
  <p>
    <%= f.label :commenter_email %><br />
    <%= f.text_field :commenter_email %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>