<div class="b-content-menu-wrapper">
  <ul class="b-content-menu">
    <% if can? :create, Post %>
        <li class="b-content-menu__item b-content-menu__item-left b-content-menu__post_add <%= 'b-content-menu__item__current' if options[:current] == 'add_post' %>">
          <%= link_to "Add post", new_posts_topic_path, :class => "b-content-menu__post_add__link" %>
        </li>
    <% end %>
    <li class="b-content-menu__item b-content-menu__item-left b-content-menu__posts <%= 'b-content-menu__item__current' if options[:current] == 'posts' %>">
      <%= link_to "Posts", root_path, :class => "b-content-menu__posts__link" %>
    </li>
    <li class="b-content-menu__item b-content-menu__item-left b-content-menu__users <%= 'b-content-menu__item__current' if options[:current] == 'users' %>">
      <%= link_to "Users", users_path, :class => "b-content-menu__users__link" %>
    </li>
    <% cache :controller => :header, :action => :main_menu do %>
      <% for page in Page.roots %>
        <li class="b-content-menu__item b-content-menu__item-right">
          <%= link_to h(page.title), page, :class => "b-menu__item__link" %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <% if options[:current] == 'add_post' %>
      <ul class="b-content-submenu b-post-type-menu">
        <span class="g-font-bigger">Type of your new post:</span>
        <% for type in configatron.posts.types.active %>
            <li class="b-post-type-menu__item <%= 'b-post-type-menu__item__current"' if options[:submenu_current] == type.to_s.singularize %>">
              <%= link_to type.to_s.singularize, new_polymorphic_path([:posts, type.to_s.singularize]), :class => "g-link-no-visited g-font-bigger" %>
            </li>
        <% end %>
      </ul>
  <% end %>
</div>