<% form.fields_for post do |p| %>
    <div class="b-form__item">
      <%= p.label :category_id, "Choose category in which you want to write:", :class => "b-form__label g-inline" %>
      <%= p.select :category_id, options_for_select(@selectable_categories) %>
    </div>
    <div class="b-form__item">
      <%= p.label :title, "Title:", :class => "b-form__label" %>
      <%= p.text_field :title, :class => "b-form__input-text b-form__input-text_bigger" %>
    </div>
    <div class="b-form__item">
      <%= p.label :tag_list, "Tag list:", :class => "b-form__label" %>
      <%= p.text_field :tag_list, :class => "b-form__input-text b-form__input-text_bigger" %>
    </div>
<% end %>
