<% options ||= {} %>
<ul class="b-posts">
  <% posts.each do |post| %>
      <li class="b-posts-item-wrapper">
        <div id="<%= dom_id(post) %>" class="b-post">
          <h2 class="b-post__title">
            <% unless options[:no_categories] %>              
              <%= post_category_link post %>              
              →
            <% end %>
            <%= post_type_image(post) %>
            <%= post_link(post) %>
          </h2>
          <div class="b-post__publish_date g-light_gray">
            <%= format_date(post.created_at) %>
          </div>          
          <%= render_post_preview(post) %>
          <%= render_post_details(post, options) %>
        </div>
      </li>
  <% end %>
</ul>