<% options ||= {} %>
<ul class="b-posts">
  <% posts.each do |post| %>
      <li class="b-posts-item-wrapper">
        <div id="<%= dom_id(post) %>" class="b-post">
          <h2 class="b-post__title">
            <% unless options[:no_categories] %>
              <% cache category_path(post.category_id, :action_suffix => "post_title") do %>
                  <%= link_to post.category.title, category_path(post.category), :class => "g-link-no-visited" %>
              <% end %>
              →
            <% end %>
            <% if File.exist?(RAILS_ROOT + "/public/images/posts/#{post.content_type.to_s.downcase}.png") %>
                <%= image_tag "posts/#{post.content_type.to_s.downcase}.png", :class => "b-bost__content_type_image" %>
            <% end %>
            <%= link_to post.title, post_path( post) %>
          </h2>

          <div class="b-post__publish_date g-light_gray">
            <%= post.created_at.strftime("%d, %B %Y, %H:%M") %>
          </div>
          <!--Show preview of post content. Preview is usually cached.-->
          <%= render :partial => "posts/preview", :locals => {:post => post} %>

          <%= render :partial => "posts/post_details", :locals => { :post => post, :options => options } %>
        </div>
      </li>
  <% end %>
</ul>