<% options ||= {} %>
<ul class="b-content-posts">
  <% posts.each_with_index do |post, index| %>
      <li id="<%= dom_id(post) %>" class="b-content-posts__item-wrapper">
        <div class="b-content-posts__item  <%= index.even? ? "b-content-posts__item-even":"b-content-posts__item-odd" %>">
          <h2 class="b-post__title">
            <%= link_to post.category.title, category_path(post.category), :class => "g-link-no-visited" %>
            ⇨
            <% if File.exist?(RAILS_ROOT + "/public/images/posts/#{post.content_type.to_s.downcase}.png") %>
                <%= image_tag "posts/#{post.content_type.to_s.downcase}.png", :class => "b-bost__content_type_image" %>
            <% end %>
            <%= link_to post.title, post_path( post) %>
          </h2>

          <div class="b-post__publish_date g-light_gray">
            <%= post.created_at.strftime("%d, %B %Y, %H:%M") %>
          </div>
          <!--Show preview of post content. Preview is usually cached.-->
          <%= render :partial => "posts/preview", :locals => {:post => post} %>

          <%= render :partial => "posts/post_details", :locals => { :post => post, :options => options } %>
        </div>
      </li>
  <% end %>
</ul>