<% options ||= {} %>
<% unless options[:no_tags] %>
    <% cache post_path(post.id, :action_suffix => "tags") do %>
        <div class="b-post__tags">
          <% for tag in post.tags %>
              <%= tag_link(tag) %>
          <% end %>
        </div>
    <% end %>
<% end %>
<div class="b-post__parameters">
  <% if current_user %>
      <div class="b-post__paramameters__item b-post__favourite g-light_gray">
        <% if current_user.has_favourite?(post) %>
          <%= link_to content_tag(:span, '', :class => "b-js_link__value"),
              :remote => true,
              :url => post_toggle_favourite_url(post.id),
              :method => "post",
              :html => {:title => "remove this post from favourites",
                        :class => "b-post__toggle_favourite__remove js_link"}
          %>
        <% else %>
          <%= link_to content_tag(:span, '', :class => "b-js_link__value"),
              :remote => true,
              :url => post_toggle_favourite_url(post.id),
              :method => "post",
              :html => {:title => "add this post to favourites",
                        :class => "b-post__toggle_favourite__add js_link"}
          %>
        <% end %>
      </div>
  <% end %>
  <% if configatron.posts.rating.use %>
      <div class="b-post__paramameters__item b-post__rating g-light_gray">
        rating:
        <% if can? :change_rating_for, post %>
          <%= link_to content_tag(:span, "good", :class => "b-js_link__value"), :remote => true, :url => post_increase_rating_url(post.id), :method => "post", :html => {:title => "you like this post", :class => "b-post__rating__increase js_link", :rev => 'vote-for'} %>
        <% end %>
        <span id="<%= dom_id(post) %>__rating__value" class="b-post__rating__value">
        <%= post.rating %>
    </span>
        <% if can? :change_rating_for, post %>
          <%= link_to content_tag(:span, "bad", :class => "b-js_link__value"), :remote => true, :url => post_decrease_rating_url(post.id), :method => "post", :html => {:title => "you don't like this post", :class => "b-post__rating__decrease js_link" , :rev => 'vote-for'} %>
        <% end %>
      </div>
  <% end %>
  <% if configatron.posts.external_instruments.twitter.use %>
      <div class="b-post__paramameters__item b-post__twitter g-light_gray ">
        <%= link_to_twitter post, "post this to twitter" %>
      </div>
  <% end %>
  <% if configatron.posts.external_instruments.delicious.use %>
      <div class="b-post__paramameters__item b-post__delicious g-light_gray ">
        <%= link_to_delicious post, "save this on delicious" %>
      </div>
  <% end %>
  <% if configatron.posts.external_instruments.digg.use %>
      <div class="b-post__paramameters__item b-post__digg g-light_gray ">
        <%= link_to_digg post, "submit this to digg" %>
      </div>
  <% end %>
  <%= cache post_path(post.id, :action_suffix => "author") do %>
      <div class="b-post__paramameters__item b-post__author_login g-light_gray ">
        author:
        <%= link_to post_path(post, :anchor => :comments), :title => "go to author's profile", :class => "b-post__author_login__link" do %>
            <%= post.author.screen_name %>
        <% end %>
      </div>
  <% end %>
  <% unless options[:no_comments_count] %>
      <div class="b-post__paramameters__item b-post__comments_count g-light_gray">
        comments:
        <%= link_to post.comments_count, post_path(post, :anchor => :comments), :title => "go to post's comments", :class => "b-post__comments_count__link" %>
      </div>
  <% end %>
</div>

        
