
<% title @post.title %>
<% content_menu(:current => "posts") %>
<div id="<%= dom_id(@post) %>" class="b-post">  
  <h1 class="b-post__title">
    <%= post_type_image(@post) %>
    <%= @post.title %>
  </h1>
  <h2>
    in <%= post_category_link @post %>    
  </h2>
  <div class="b-post__publish_date g-light_gray">
    <%= format_date(@post.created_at) %>
  </div>
  
  <%= edit_post_content_link @post %>
  
  <div class="b-post-content b-data">
    <%= render_post_content(@post) %>
  </div>

  <%= render_post_details(@post, :no_comments_count => true) %>  

  <div class="b-post__comments">
    <a name="comments"/>
    <h2 class="g-light_gray">Comments (<span id="post_comments_count"><%= @post.comments_count %></span>)</h2>
    <%= render_post_comments(@post) %>    
  </div>

  <div class="b-add_comment">
    <h3>
      <%= new_post_comment_link(@post, "add new comment") %>
    </h3>
    <% if can? :create, Comment.new(:depth => 0) %>
        <div id="comment_0_form">
          <% if current_user %>
              <%= render :partial => "comments/user_comment_form" %>
          <% else %>
              <%= render :partial => "comments/guest_comment_form" %>
          <% end %>
        </div>
    <% else %>
        You cannot create comments right now, try to login first.
    <% end %>
  </div>
</div>