<% title "RBlog ‒ " + @post.title %>

<h1 class="g-light_gray"><%= @post.title %></h1>
<div class="b-post__publish_date g-light_gray">
  <%= @post.created_at.strftime("%d, %B %Y, %H:%M") %>
</div>
<p class="b-post__announcement g-indent">
  <%= @post.announcement %>
</p>

<p class="b-post__body g-indent">
  <%= @post.body %>
</p>

<%= render :partial => "posts/post_details", :locals => { :post => @post, :options => {:no_comments_count => true}} %>

<div class="b-post__comments">
  <a name="comments"></a>

  <h2 class="g-light_gray">Comments (<%= @post.comments_count %>)</h2>
  <%# cache (:controller => "posts", :action => "show", :id => @post.id) do %>
  <ul id="comment_0_children" class="b-post__comments_list">
    <%= render :partial => "comments/show", :collection => @post.comments.select { |comment| comment.parent_comment_id == 0
    }, :as => :comment %>
  </ul>
  <%# end %>
  <div id="add_comment">
    <h3>
      <%= link_to_remote 'Add comment', {:url => { :controller => "comments", :action => "new", :post_id => @post.id,
                                                   :parent_comment_id => 0}, :method => "get", }, :href => new_post_comment_url(@post, :anchor => "new_comment") %>
    </h3>
    <%= render :partial => "comments/form" %>
  </div>
</div>
