<div class="b-form-item">
    <%= form.label :login, "login", :class => "b-form__label" %> 
    <%= form.text_field :login %>
</div>
<div class="b-form-item">
    <%= form.label :password, "password", :class => "b-form__label" %>    
    <%= form.password_field :password %>
</div>
<div class="b-form-item">
    <%= form.label :password_confirmation, "password confirmation", :class => "b-form__label" %>    
    <%= form.password_field :password_confirmation %>
</div>
<div class="b-form-item">
    <%= form.label :email, "email", :class => "b-form__label" %> 
    <%= form.text_field :email %>
</div>
<div class="b-form-item">
    <%= form.submit "save", :class => "b-form__input-submit" %>
</div>
