<% title "#{configatron.general.blog_title} | administration | users" %>
<div class="b-content b-content-left">
  <h2>users operations</h2>
  <%= form_tag update_individual_admin_users_path, :class => "b-form" do %>
      <ul class="b-control_panel">
        <li class="b-control_panel-item">
          <%= link_to "add new user", new_admin_user_path, :class => "g-link_32 i-add_32" %>
        </li>
        <li class="b-control_panel-item">          
          <%= submit_tag "block selected", :name => "operation[block]", :class => "b-form__input-submit" %>
        </li>
        <li class="b-control_panel-item">
          <%= submit_tag "release selected", :name => "operation[release]", :class => "b-form__input-submit" %>
        </li>       
      </ul>
      <table class="b-users-table">
        <thead>
        <tr>
          <th>
          </th>
          <th>
          </th>
          <th>
          </th>
          <th>
            status
          </th>
          <th>
            activity
          </th>
          <th>
            reputation
          </th>
          <th>
            power
          </th>
          <th>
            actions
          </th>
        </tr>
        </thead>
        <tbody>
        <% for user in @users %>
            <tr>
              <td>
                <% unless user == current_user %>
                    <%= check_box_tag "user_ids[]", user.id %>
                <% end %>
              </td>
              <td>
                <%= image_tag user.avatar %>
              </td>
              <td>
                <dl>
                  <dt class="b-user__login">
                    <%= link_to user.login, admin_user_path(user.login) %>
                  </dt>
                  <dd class="b-user__name">
                    <%= user.short_name %>
                  </dd>
                  <dd class="b-user__created_at">
                    registered at:<%= l(user.created_at) %>
                  </dd>
                </dl>
              </td>
              <td>
                <% if user.blocked? %>
                    <span class="b-user__status__blocked">blocked</span>
                <% end %>
              </td>
              <td>
                posts: <%= user.posts_count %>
                comments: <%= user.comments_count %>
              </td>
              <td>
                <%= user.reputation %>
              </td>
              <td>
                <%= user.power %>
              </td>
              <td>
                <ul class="b-control_panel">
                  <li class="b-control_panel-item">
                    <%= link_to 'edit', edit_admin_user_path(user.login), :class => "g-link_16 i-edit_16" %>
                  </li>
                  <li class="b-control_panel-item">
                    <%= link_to 'delete', admin_user_path(user.login), :confirm => 'Are you sure? After deleting user all it\'s content like posts and comments will be deleted too.', :method => :delete, :class => "g-link_16 i-delete_16" %>
                  </li>
                </ul>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>
<div class="b-content b-content-right">
  <div class="b-users-search">
    <h2>users search</h2>
    <%= form_for @search, :html => {:class => "b-form"} do |f| %>
        <div class="b-form-item">
          <%= f.label :login_like, "login is like", :class => "b-form__label g-inline" %>
          <%= f.text_field :login_like, :class => "b-form__input-text_smaller" %>
        </div>
        <div class="b-form-item">
          <%= f.label :reputation_greater_than_or_equal_to, "reputation is between", :class => "b-form__label g-inline" %>
          <%= f.text_field :reputation_greater_than_or_equal_to, :class => "b-form__input-text_smallest" %>
          <%= f.label :reputation_less_than_or_equal_to, "and", :class => "b-form__label g-inline" %>
          <%= f.text_field :reputation_less_than_or_equal_to, :class => "b-form__input-text_smallest" %>
        </div>
        <div class="b-form-item">
          <%= f.label :power_greater_than_or_equal_to, "power is between", :class => "b-form__label g-inline" %>
          <%= f.text_field :power_greater_than_or_equal_to, :class => "b-form__input-text_smallest" %>
          <%= f.label :power_less_than_or_equal_to, "and", :class => "b-form__label g-inline" %>
          <%= f.text_field :power_less_than_or_equal_to, :class => "b-form__input-text_smallest" %>
        </div>
        <div class="b-form-item">
          <%= f.submit "find", :class => "b-form__input-submit" %>
          <% unless @search.conditions.empty? %>
              <%= link_to "show all users", admin_users_path %>
          <% end %>
        </div>
    <% end %>
    <span class="b-users__total_count">total count: <%= @users.size %></span>
  </div>
</div>
