<% content_menu %>
<div class="b-user">
  <h1 class="avatared">
    <%= image_tag @user.avatar %>
    <%= @user.login %>
  </h1>
  
  <%= link_to "Favourites", profile_favourites_path, :class => "g-link-no-visited" %>
  <%= link_to "Edit profile", edit_profile_path, :class => "b-profile-edit_link g-link-no-visited" %>

  <h2><%= @user.short_name %></h2>
  <%= @user.created_at %>
  <%= @user.email %>
  
  <div>
  <% for social_connection in @user.social_connections %>

    <%= social_connection.name %>
    <%= link_to social_connection.prefix + social_connection.value + social_connection.suffix.to_s, social_connection.prefix + social_connection.value + social_connection.suffix.to_s, :target => "_blank" %>

  <% end %>
  </div>
</div>
