<% heading_h1("You are knocking at the door. <br> Type in your login and password.") %>
<div class="form form-login">
  <h1>
    Log in
  </h1>
  <%= form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :email, :class => "form__input-text_bigger" %>
  <%= f.password_field :password, :class => "form__input-text_bigger" %>

  <div class="form__item">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, "Remember me", :class => "form__label g-inline" %>
  </div>

  <%= f.submit "Let me enter!", :class => "form__input-submit" %>
  <% end %>

  <div class="form-comment">
   
      <%= link_to "Register now", new_user_path %>
      if you still don't have an account.
   </div>
   <div class="form-comment">
      <%= link_to "Recover your password", new_user_path %>
      if you forget it.
   
  </div>
</div>
