<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title><%= h(yield(:title) || "Untitled") %></title>
  <%= stylesheet_link_tag ActiveIdentity.stylesheet('master') %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "markitup/jquery.markitup.pack.js"%>
  <%= javascript_include_tag "markitup/set.html.js"%>
  <%= stylesheet_link_tag 'markitup/html' %>
  <%= stylesheet_link_tag 'markitup/style' %>
</head>
<body>
  <div class="b-main">
    <div class="b-header">
      <div class="l-wide">
        <%= render :partial => "shared/header" %>
      </div>
    </div>
    <div class="b-menu-wrapper">
      <div class="l-wide">
        <%= yield :content_menu %>
      </div>
    </div>
    <div class="l-wide">
      <div class="clearfix">
        <div class="content content-left">
          <div class="content-left__padding">
            <%= yield :content or yield %>
          </div>
        </div>
        <div class="content content-right">
          <div class="content-right__padding">
            <%= yield :sidebar %>
            <div class="sbar-item">
              <h3 class="sbar-item__heading">Latest comments</h3>
              <div class="sbar-item__content">
                <% @comments = Comment.includes(:author, :post).order('created_at').limit(25) %>
                <ul>
                  <% @comments.each do |comment| %>
                  <li>
                    <%= comment.author.screen_name %>
                    →
                    <%= comment_permalink_link(comment, comment.post.title, "view comment") %>
                    <%= comment.post.category.title %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>			
        </div>
      </div>
    </div>
  </div>
  <div class="b-footer">
    <div class="l-wide">
      <%= render :partial => "shared/footer" %>
    </div>
  </div>
</body>
</html>
