<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title><%= h(yield(:title) || "Untitled") %></title>
  <%= stylesheet_link_tag ActiveIdentity.stylesheet('master') %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "markitup/jquery.markitup.pack.js"%>
  <%= javascript_include_tag "markitup/set.html.js"%>
  <%= stylesheet_link_tag 'markitup/html' %>
  <%= stylesheet_link_tag 'markitup/style' %>
</head>
<body>
  <div class="l-container">
    <%= render :partial => "shared/header" %>
    <%= yield :content_menu %>
    <div class="h-padding">
      <div class="clearfix">
        <div class="content content-left">
          <div class="content-left__padding">
            <%= yield :content or yield %>
          </div>
        </div>
        <div class="content content-right">
          <div class="content-right__padding">
            <div class="sbar-item">
              <h3 class="sbar-item__heading">Tag cloud</h3>
              <div class="sbar-item__content">
<<<<<<< HEAD
                <% @comments = Comment.includes(:author, :post).order('created_at').limit(25) %>
                <ul>
                  <% @comments.each do |comment| %>
                  <li>
                    <%= comment.author.screen_name %>
                    →
                    <%= comment_permalink_link(comment, comment.post.title, "view comment") %>
                    <%= comment.post.category.title %>
                  </li>
                  <% end %>
                </ul>
=======
                <% @tags = Post.tag_counts_on(:tags) %>
                <div class="tag-cloud">
                <% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4 tag5 tag6 tag7 tag8 tag9 tag10)) do |tag, css_class| %>
                  <%= tag_link(tag, :class => css_class) %>
                <% end %>
                </div>
>>>>>>> 0fe9d7e... Fixed both wide and centered layouts. Now they both work well in all major browsers.
              </div>
            </div>
          </div>			
        </div>
      </div>
    </div>
    <div class="b-footer">
      <%= render :partial => "shared/footer" %>
    </div>
  </div>
</body>
</html>
