<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= h(yield(:title) || "Untitled") %></title>
  <%= javascript_include_tag :all %>
  <%= stylesheet_link_tag 'master' %>
</head>
<body>
<div id="content">
   <div id="header">
      <%= render :partial => "shared/header"%>
      <ul id="menu">
        <% for page in Page.roots %>
          <li><%= link_to h(page.title), page %></li>
        <% end %>
      </ul>
   </div>
   <p style="color: green"><%= flash[:notice] %></p>
   <%= yield :content or yield %>
   <div id="footer">
      <%= render :partial => "shared/footer"%>
   </div>
</div>
</body>
</html>
