<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title><%= h(yield(:title) || "Untitled") %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'login' %>
</head>
<body>
<div class="l-container">
  <div class="l-layout">
    <div class="h-padding">
      <div class="b-content">
        <div class="b-content__left">
          <div class="b-blog_logo">
            <%= link_to image_tag("logo.png"), root_path %>
          </div>
          <h1 class="g-light_gray">You are knocking at the door</h1>

          <h1 class="g-light_gray">Type in your login and password</h1>
        </div>
        <div class="b-content__right">
          <%= yield :content or yield %>
        </div>
      </div>
      <%= render :partial => "shared/footer" %>
    </div>
  </div>
</div>
</body>
</html>
